<template>
  <div class="card">
    <div
      class="pb-0 card-header mb-0 d-flex justify-content-between align-items-center"
    >
      <div>
        <h6>Películas</h6>
        <p class="text">
          <font-awesome-icon
            icon="fa-solid fa-clapperboard"
            class="text-primary text-sm opacity-10"
          />
          <span class="font-weight-bold"> Administra las carteleras </span>
        </p>
      </div>
      <div>
        <router-link to="movies-form" class="btn btn-primary"
          >Nueva película</router-link
        >
      </div>
    </div>
    <div class="p-3 card-body">
      <MovieTable />
    </div>
  </div>
</template>

<script>
import MovieTable from './MovieTable.vue';
export default {
    name: "Movies",
    components: { MovieTable }
};
</script>

<style></style>
