<template>
  <div class="card bg-white border-0 mb-0">
    <Form @submit="handleScheduleMovie" ref="form">
      <div class="scrollbar-inner">
        <div class="card-header bg-transparent px-lg-5">
          <div>
            <h5>Asignar horarios</h5>
            <p>
              Debajo se muestran los horarios disponibles, haz click en el
              checkbox para asignarlos
            </p>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-2">
          <div class="row">
            <div
              class="col-md-4 d-flex justify-content-center gap-2"
              v-for="schedule in scheduleList"
              :key="schedule.id"
            >
              <Field
                class="d-flex"
                :id="schedule.id"
                v-slot="{ field }"
                :name="`check-${schedule.id}`"
                :value="schedule.id"
                type="checkbox"
              >
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    :name="`check-${schedule.id}`"
                    :value="schedule.id"
                    v-bind="field"
                  />
                </div>
                <p class="fw-bold">{{ schedule.schedule }} hrs</p>
              </Field>
            </div>
          </div>
        </div>
      </div>
      <div
        class="card-footer text-center bg-transparent d-flex justify-content-evenly"
      >
        <button
          type="submit"
          class="btn btn-primary"
          v-text="'Guardar'"
        ></button>
        <button
          type="button"
          class="btn btn-danger"
          v-text="'Cancelar'"
          @click="$router.push({ name: 'movies' })"
        ></button>
      </div>
    </Form>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import { Form, Field } from "vee-validate";
export default {
  name: "MovieAssingSchedule",
  components: { Form, Field },
  data() {
    return {
      checked_schedules: [],
      schedule: "",
      check: false,
      scheduleData: {
        id: "",
      },
    };
  },
  mounted() {
    this.fetchSchedules();
  },
  methods: {
    ...mapActions("schedules", [
      "fetchSchedules",
      "createSchedule",
      "updateSchedule",
      "assignSchedule",
    ]),
    async handleScheduleMovie(values) {
      if (this.scheduleData.id) {
        this.updateSchedule(values).then((response) => {
          return response;
        });
      } else {
        let array = Object.values(values);
        array = array.filter((a) => a != undefined || null);
        const request = array.map((item) => ({
          movie_id: this.$route.params.id,
          schedule_id: item,
        }));
        await this.assignSchedule(request)
          .then((response) => {
            console.log(response);
            this.$router.push({ name: "movies" });
          })
          .catch((error) => {
            alert(error);
          });
      }
    },
  },
  computed: {
    ...mapState("schedules", ["scheduleList"]),
  },
};
</script>

<style></style>
