<template>
  <div class="card">
    <div class="card-body px-0 pt-0 pb-2">
      <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th
                v-for="column in columns"
                :key="column.field"
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                v-text="column.headerName"
              ></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="movie in movieList" :key="movie.id">
              <td class="text-center">
                <img
                  :src="movie.image"
                  class="avatar avatar-sm me-3"
                  alt="user1"
                />
              </td>
              <td>
                <p
                  class="text-xs font-weight-bold mb-0"
                  v-text="movie.title"
                ></p>
              </td>
              <td class="text-center">
                <p
                  class="text-xs font-weight-bold mb-0"
                  v-text="movie.duration"
                ></p>
              </td>
              <td class="text-center">
                <p
                  class="text-xs font-weight-bold mb-0"
                  v-text="movie.classification"
                ></p>
              </td>
              <td class="text-center">
                <p
                  class="text-xs font-weight-bold mb-0"
                  v-text="movie.publication_date"
                ></p>
              </td>
              <td class="text-center">
                <p
                  :class="movie.status ? 'text-success' : 'text-danger'"
                  class="text-xs font-weight-bold mb-0"
                >
                  {{ movie.status ? "Activo" : "Inactivo" }}
                </p>
              </td>
              <td class="text-center">
                <p
                  :class="movie.subtitled ? 'text-success' : 'text-danger'"
                  class="text-xs text-primary fw-bold mb-0"
                >
                  {{ movie.subtitled ? "Si" : "No" }}
                </p>
              </td>
              <td class="text-center">
                <div class="cursor-pointer">
                  <v-button @click="showSchedulesMovies">
                    <font-awesome-icon
                      icon="fa-solid fa-eye"
                      class="text-secondary text-sm opacity-10"
                    />
                  </v-button>
                </div>
              </td>
              <td class="text-center">
                <div class="d-flex gap-3">
                  <div class="cursor-pointer" @click="option('edit')">
                    <font-awesome-icon
                      icon="fa-solid fa-pen"
                      class="text-primary text-sm opacity-10"
                    />
                  </div>
                  <div class="cursor-pointer" @click="setSchedules(movie)">
                    <font-awesome-icon
                      icon="fa-solid fa-grip-lines"
                      class="text-success text-sm opacity-10"
                    />
                  </div>
                  <div class="cursor-pointer" @click="option()">
                    <font-awesome-icon
                      icon="fa-solid fa-lock"
                      class="text-secondary text-sm opacity-10"
                    />
                  </div>
                  <div class="cursor-pointer" @click="option('delete')">
                    <font-awesome-icon
                      icon="fa-solid fa-trash"
                      class="text-danger text-sm opacity-10"
                    />
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <v-button @click="showSchedulesMovies">
    <font-awesome-icon
      icon="fa-solid fa-eye"
      class="text-secondary text-sm opacity-10"
    />
  </v-button>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  name: "MoviesTable",
  data() {
    return {
      columns: [
        { field: "image", headerName: "Imagen" },
        { field: "title", headerName: "Título" },
        { field: "duration", headerName: "Duración" },
        { field: "classification", headerName: "Clasificación" },
        { field: "publication_date", headerName: "Fecha de publicación" },
        { field: "status", headerName: "Estatus" },
        { field: "subtitled", headerName: "Subtítulo" },
        { field: "schedules", headerName: "Horarios" },
        { field: "id", headerName: "Opciones" },
      ],
      show: false,
    };
  },
  mounted() {
    this.fetchMovies();
  },
  methods: {
    ...mapActions("movies", ["fetchMovies"]),
    option(value) {
      console.log(value);
    },
    setSchedules(movie) {
      this.$router.push(`/assign-schedule/${movie.id}`);
    },
    showSchedulesMovies() {
      this.$vfm.show({
        component: "MoviesSchedulesModal",
      });
    },
  },
  computed: {
    ...mapState("movies", ["movieList"]),
  },
};
</script>
