<template>
  <div class="card bg-white border-0 mb-0">
    <Form @submit="handleMovie" ref="form">
      <div class="card-header bg-transparent px-lg-5">
        <div>
          <h5>Películas</h5>
          <p class="text m-0">
            <span class="font-weight-bold text-danger">
              * Campos obligatorios
            </span>
          </p>
        </div>
      </div>
      <div class="scrollbar-inner">
        <div class="card-body px-lg-5 py-lg-2">
          <div class="form-row">
            <div class="col-12 mb-3">
              <label class="float-left form-control-label mb-1" for="title"
                >Título:</label
              >
              <Field
                class="mb-0"
                v-slot="{ field }"
                name="title"
                v-model="title"
                type="text"
                rules="required"
              >
                <argon-input class="m-0" v-bind="field" placeholder="Título" />
              </Field>
              <ErrorMessage name="title" as="div" v-slot="{ message }">
                <p class="text-sm fw-bold text-danger">* {{ message }}</p>
              </ErrorMessage>
            </div>

            <div class="col-12 mb-3">
              <label class="float-left form-control-label mb-1" for="duration"
                >Duración:</label
              >
              <Field
                class="mb-0"
                v-slot="{ field }"
                name="duration"
                v-model="duration"
                type="text"
                rules="required"
              >
                <argon-input class="m-0" v-bind="field" placeholder="Duración" />
              </Field>
              <ErrorMessage name="duration" as="div" v-slot="{ message }">
                <p class="text-sm fw-bold text-danger">* {{ message }}</p>
              </ErrorMessage>
            </div>

            <div class="col-12 mb-3">
              <label
                class="float-left form-control-label mb-1"
                for="classification"
                >Clasificación:</label
              >
              <Field
                class="mb-0"
                v-slot="{ field }"
                name="classification"
                type="text"
                v-model="classification"
                rules="required"
              >
                <argon-input class="m-0" v-bind="field" placeholder="Clasificación" />
              </Field>
              <ErrorMessage name="classification" as="div" v-slot="{ message }">
                <p class="text-sm fw-bold text-danger">* {{ message }}</p>
              </ErrorMessage>
            </div>

            <div class="col-12 mb-3">
              <label
                class="float-left form-control-label mb-1"
                for="publication"
                >Fecha de publicación:</label
              >
              <Field
                class="mb-0"
                v-slot="{ field }"
                name="publication"
                v-model="publication"
                rules="required"
              >
                <argon-input class="m-0"
                  v-bind="field"
                  placeholder="Fecha de publicación"
                  type="date"
                />
              </Field>
              <ErrorMessage name="publication" as="div" v-slot="{ message }">
                <p class="text-sm fw-bold text-danger">* {{ message }}</p>
              </ErrorMessage>
            </div>

            <div class="col-12 mb-3">
              <label class="float-left form-control-label mb-1" for="subtitled"
                >Subtítulado:</label
              >
              <Field
                class="mb-0"
                v-slot="{ field }"
                name="subtitled"
                v-model="subtitled"
              >
                <argon-switch v-bind="field" id="subtitled"
                  >¿La película está subtítulada?</argon-switch
                >
              </Field>
            </div>
          </div>
        </div>
      </div>
      <div
        class="card-footer text-center bg-transparent d-flex justify-content-evenly"
      >
        <button
          type="submit"
          class="btn btn-primary"
          v-text="'Guardar'"
        ></button>
        <button
          type="button"
          class="btn btn-danger"
          v-text="'Cancelar'"
          @click="$router.push({name:'movies'})"
        ></button>
      </div>
    </Form>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { Form, Field, ErrorMessage } from "vee-validate";
import ArgonInput from "@/components/ArgonInput.vue";
import ArgonSwitch from "../../components/ArgonSwitch.vue";
export default {
  name: "MovieForm",
  components: { Form, Field, ErrorMessage, ArgonInput, ArgonSwitch },
  data() {
    return {
      title: "",
      duration: "",
      classification: "",
      publication: "",
      subtitled: false,
      movie: {
        id: null,
      },
    };
  },
  mounted() {
    // console.log(this.movie.created_at);
  },
  methods: {
    ...mapActions("movies", ["createMovie", "updateMovie"]),
    handleMovie(values) {
      console.log(values);
      if (this.movie.id) {
        this.updateMovie(values).then((response) => {
          this.$refs.form.reset();
          this.$modal.hideAll();
          return response;
        });
      } else {
        this.createMovie(values).then((response) => {
          this.title = "";
          this.duration = "";
          this.publication = "";
          this.classification = "";
          this.subtitled = false;
          // if(response.status === 201) {
          this.$router.push({ name: "movies" });
          // }
          console.log(response);
        });
      }
    },
  },
};
</script>

<style></style>
