<template>
  <div
    class="collapse navbar-collapse w-auto h-auto h-100"
    id="sidenav-collapse-main"
  >
    <ul class="navbar-nav">
      <li class="nav-item">
        <sidenav-item
          url="/inicio"
          :class="getRoute() === '/incio' ? 'active' : ''"
          navText="Inicio"
        >
          <template v-slot:icon>
            <font-awesome-icon
              icon="fa-solid fa-home"
              class="text-primary text-sm opacity-10"
            />
          </template>
        </sidenav-item>
      </li>
      <li class="nav-item">
        <sidenav-item
          url="/movies"
          :class="getRoute() === 'movies' ? 'active' : ''"
          navText="Películas"
        >
          <template v-slot:icon>
            <font-awesome-icon
              icon="fa-solid fa-clapperboard"
              class="text-warning text-sm opacity-10"
            />
          </template>
        </sidenav-item>
      </li>
      <li class="nav-item">
        <sidenav-item
          url="/schedules"
          :class="getRoute() === 'schedules' ? 'active' : ''"
          navText="Horarios"
        >
          <template v-slot:icon>
            <font-awesome-icon
              icon="fa-solid fa-clock"
              class="text-success text-sm opacity-10"
            />
          </template>
        </sidenav-item>
      </li>
      <li class="nav-item">
        <sidenav-item
          url="/profile"
          :class="getRoute() === 'profile' ? 'active' : ''"
          navText="Perfil"
        >
          <template v-slot:icon>
            <font-awesome-icon
              icon="fa-solid fa-user"
              class="text-info text-sm opacity-10"
            />
          </template>
        </sidenav-item>
      </li>
      <li class="nav-item">
        <div class="nav-link" @click="logout">
          <font-awesome-icon
            icon="fa-solid fa-arrow-right-from-bracket"
            class="text-danger text-sm opacity-10 ms-2"
          />
          <span class="ms-3"> Cerrar sesión </span>
        </div>
        <!-- <sidenav-item
          url="/logout"
          :class="getRoute() === 'logout' ? 'active' : ''"
          navText="Cerrar sesión"
        >
          <template v-slot:icon>
            <font-awesome-icon icon="fa-solid fa-arrow-right-from-bracket" class="text-danger text-sm opacity-10" />
          </template>
        </sidenav-item> -->
      </li>
    </ul>
  </div>
</template>
<script>
import { mapMutations } from "vuex";
import SidenavItem from "./SidenavItem.vue";

export default {
  name: "SidenavList",
  props: {
    cardBg: String,
  },
  data() {
    return {
      title: "Movies",
      controls: "adminDashboard",
      isActive: "active",
    };
  },
  components: {
    SidenavItem,
  },
  methods: {
    ...mapMutations("auth", ["LOGOUT"]),
    logout() {
      localStorage.clear();
      this.LOGOUT();
      this.$router.push({ name: "auth" });
    },
    getRoute() {
      const routeArr = this.$route.path.split("/");
      return routeArr[1];
    },
  },
};
</script>
