<template>
  <nav
    class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl"
    :class="
      this.$store.state.isRTL ? 'top-0 position-sticky z-index-sticky' : ''
    "
    v-bind="$attrs"
    id="navbarBlur"
    data-scroll="true"
  >
    <div class="px-3 py-1 container-fluid">
      <div
        class="mt-3 d-flex justify-content-end collapse navbar-collapse mt-sm-0 me-md-0 me-sm-4"
        :class="this.$store.state.isRTL ? 'px-0' : 'me-sm-4'"
        id="navbar"
      >
        <ul class="navbar-nav">
          <li class="nav-item d-flex align-items-center">
            <router-link
              to="signin"
              class="p-3 nav-link font-weight-bold text-white d-flex align-items-center"
            >
              <argon-avatar img="https://demos.creative-tim.com/vue-soft-ui-dashboard-pro/img/team-3.08ced048.jpg" alt="Avatar" size="md" circular />
              <span class="d-sm-inline d-none ms-3">Admin</span>
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
<script>
import { mapMutations, mapActions } from "vuex";
import ArgonAvatar from '../../components/ArgonAvatar.vue';

export default {
  components: { ArgonAvatar },
  name: "navbar",
  data() {
    return {
      showMenu: false,
    };
  },
  props: ["minNav", "textWhite"],
  created() {
    this.minNav;
  },
  methods: {
    ...mapMutations(["navbarMinimize", "toggleConfigurator"]),
    ...mapActions(["toggleSidebarColor"]),

    toggleSidebar() {
      this.toggleSidebarColor("bg-white");
      this.navbarMinimize();
    },
  },
  computed: {
    currentRouteName() {
      return this.$route.name;
    },
  },
};
</script>
