<template>
  <div class="py-4 container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12 mb-lg">
            <!-- line chart -->
            <div class="card z-index-2">
              <Movies />
            </div>
          </div>
          <div class="col-lg-5">
            <carousel />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Carousel from "./components/Carousel.vue";
import Movies from "./movies/Movies.vue";

export default {
  name: "dashboard-default",
  data() {
    return {};
  },
  components: {
    Carousel,
    Movies
},
mounted() {
  console.log(localStorage.getItem('token'))
},
};
</script>
