<template>
  <div class="container top-0 position-sticky z-index-sticky">
    <div class="row">
      <div class="col-12">
        <navbar
          isBlur="blur  border-radius-lg my-3 py-2 start-0 end-0 mx-4 shadow"
          v-bind:darkMode="true"
          isBtn="bg-gradient-primary"
        />
      </div>
    </div>
  </div>
  <main class="mt-0 main-content">
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            <div
              class="mx-auto col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0"
            >
              <div class="card card-plain">
                <div class="pb-0 card-header text-start">
                  <h4 class="font-weight-bolder">Inicia sesión</h4>
                  <p class="mb-0">
                    Ingresa tus credenciales para ir al panel administrador
                  </p>
                </div>
                <div class="card-body">
                  <Form @submit="handleSubmit" role="form">
                    <div class="mb-3">
                      <Field
                        class="mb-0"
                        name="email"
                        rules="email|required"
                        v-slot="{ field }"
                      >
                        <argon-input
                          class="m-0"
                          v-bind="field"
                          type="email"
                          placeholder="Correo"
                          size="lg"
                        />
                      </Field>
                      <ErrorMessage name="email" as="div" v-slot="{ message }">
                        <p class="text-sm fw-bold text-danger">
                          * {{ message }}
                        </p>
                      </ErrorMessage>
                    </div>
                    <div class="mb-3">
                      <Field
                        class="mb-0"
                        v-slot="{ field }"
                        rules="required"
                        name="password"
                      >
                        <argon-input
                          class="m-0"
                          v-bind="field"
                          type="password"
                          placeholder="Contraseña"
                          size="lg"
                        />
                      </Field>
                      <ErrorMessage
                        name="password"
                        as="div"
                        v-slot="{ message }"
                      >
                        <p class="text-sm fw-bold text-danger">
                          * {{ message }}
                        </p>
                      </ErrorMessage>
                    </div>
                    <div class="user mb-3">
                      <Field
                        v-model="token_name"
                        name="token_name"
                        v-slot="{ field }"
                      >
                        <argon-switch v-bind="field" id="isAdmin"
                          >¿Eres administrador?</argon-switch
                        >
                      </Field>
                    </div>

                    <div class="text-center">
                      <argon-button
                        class="mt-4"
                        variant="gradient"
                        color="primary"
                        fullWidth
                        size="lg"
                        :disabled="isLoading"
                        v-text="isLoading ? 'cargando...' : 'Entrar'"
                      ></argon-button>
                    </div>
                    <div v-if="error.theresError">
                      <p class="text-danger fw-bold">
                        {{error.message}}
                      </p>
                    </div>
                  </Form>
                </div>
              </div>
            </div>
            <div
              class="top-0 my-auto text-center col-6 d-lg-flex d-none h-100 pe-0 position-absolute end-0 justify-content-center flex-column"
            >
              <div
                class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden"
                style="
                  background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/signin-ill.jpg');
                  background-size: cover;
                "
              >
                <span class="mask bg-gradient-primary opacity-6"></span>
                <h4
                  class="mt-5 text-white font-weight-bolder position-relative"
                >
                  La cartelera más grande a nivel mundial
                </h4>
                <p class="text-white position-relative">
                  Disfruta con nosotros la más grande experiencia que ofrece el
                  cine. Con nuestro sistema de gerencia, administrar películas
                  nunca habría sido tan fácil
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import Navbar from "@/examples/PageLayout/Navbar.vue";
import ArgonInput from "@/components/ArgonInput.vue";
import ArgonSwitch from "@/components/ArgonSwitch.vue";
import ArgonButton from "@/components/ArgonButton.vue";
import { Form, Field, ErrorMessage } from "vee-validate";
import axios from "axios";
import store from "../../store";
const body = document.getElementsByTagName("body")[0];

export default {
  name: "signin",
  components: {
    Navbar,
    ArgonInput,
    ArgonSwitch,
    ArgonButton,
    Form,
    Field,
    ErrorMessage,
  },
  data() {
    return {
      token_name: false,
      isLoading: false,
      error: {
        theresError: null,
        message: null
      }
    };
  },
  created() {
    store.state.hideConfigButton = true;
    store.state.showNavbar = false;
    store.state.showSidenav = false;
    store.state.showFooter = false;
    body.classList.remove("bg-gray-100");
  },
  beforeUnmount() {
    store.state.hideConfigButton = false;
    store.state.showNavbar = true;
    store.state.showSidenav = true;
    store.state.showFooter = true;
    body.classList.add("bg-gray-100");
  },
  methods: {
    async handleSubmit(data) {
      this.isLoading = true;
      const currentData = {
        email: data.email,
        password: data.password,
        token_name: data.token_name ? "admin" : "employee",
      };

      store.commit("SET_LOADING", true);
      await axios.post("http://127.0.0.1:8000/api/login",currentData)
        .then((response) => {
          this.isLoading = false;
          if (response.status === 200) {
            localStorage.setItem('token', response.data.token);
            this.$store.commit("auth/SET_USER", response.data.user);
            this.$router.push("/");
          }
          this.error.theresError = true
          this.error.message = 'Tus datos no son correctos o no cuentas con los permisos suficientes'
        })
        .catch((error) => {
          this.isLoading = false;
          this.error.theresError = true
          this.error.message = 'Tus datos no son correctos o no cuentas con los permisos suficientes'
          return Promise.reject(error.response.data.message);
        })
        .finally(() => {
          this.isLoading = false;
          store.commit("SET_LOADING", false);
        });
    },
  },
};
</script>
