<template>
  <div class="card">
    <div class="card-body px-0 pt-0 pb-2">
      <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th
                v-for="column in columns"
                :key="column.field"
                class="text-uppercase text-center text-secondary text-xxs font-bolder opacity-7"
                v-text="column.headerName"
              ></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="schedule in scheduleList" :key="schedule.id">
              <td class="text-center">
                <p
                  class="text-xs font-weight-bold mb-0"
                  v-text="`${schedule.schedule} hrs`"
                ></p>
              </td>
              <td class="text-center">
                <p
                  :class="schedule.status ? 'text-success' : 'text-danger'"
                  class="text-xs font-weight-bold mb-0"
                  v-text="schedule.status ? 'Activo' : 'Inactivo'"
                ></p>
              </td>
              <td class="text-center">
                <div class="d-flex justify-content-center gap-3">
                  <div class="cursor-pointer" @click="deleteSchedule(schedule)">
                    <font-awesome-icon
                      icon="fa-solid fa-trash"
                      class="text-danger text-sm opacity-10"
                    />
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  name: "ScheduleTable",
  data() {
    return {
      columns: [
        { field: "schedule", headerName: "Horario" },
        { field: "status", headerName: "Estatus" },
        { field: "options", headerName: "Opciones" },
      ],
    };
  },
 mounted() {
    this.fetchSchedules();
  },
  methods: {
    ...mapActions("schedules", ["fetchSchedules"]),
    deleteSchedule() {

    }
  },
  computed: {
    ...mapState("schedules", ["scheduleList"]),
  },
};
</script>
