<template>
  <div class="card">
    <div
      class="pb-0 card-header mb-0 d-flex justify-content-between align-items-center"
    >
      <div>
        <h6>Turnos</h6>
        <p class="text">
          <font-awesome-icon
            icon="fa-solid fa-clock"
            class="text-primary text-sm opacity-10"
          />
          <span class="font-weight-bold"> Administra turnos </span>
        </p>
      </div>
      <div>
        <router-link :to="{ name: 'schedule-form' }" class="btn btn-primary"
          >Nuevo turno</router-link
        >
      </div>
    </div>
    <div class="p-3 card-body">
      <ScheduleTable />
    </div>
  </div>
</template>

<script>
import ScheduleTable from "./ScheduleTable.vue";
export default {
  name: "Movies",
  components: { ScheduleTable },
  data() {
    return {};
  },
};
</script>

<style>
.ag-center-cols-container {
  width: 100% !important;
}
</style>
