<template>
  <div class="card bg-white border-0 mb-0">
    <Form @submit="handleSchedule" ref="form">
      <div class="card-header bg-transparent px-lg-5">
        <div>
          <h5>Películas</h5>
          <p class="text m-0">
            <span class="font-weight-bold text-danger">
              * Campos obligatorios
            </span>
          </p>
        </div>
      </div>
      <div class="scrollbar-inner">
        <div class="card-body px-lg-5 py-lg-2">
          <div class="form-row">
            <div class="col-12 mb-3">
              <label class="float-left form-control-label mb-1" for="schedule"
                >Horario:</label
              >
              <Field
                class="mb-0"
                v-slot="{ field }"
                name="schedule"
                v-model="schedule"
                rules="required"
              >
                <argon-input
                  class="mb-0"
                  type="time"
                  v-bind="field"
                  placeholder="Horario"
                />
              </Field>
              <ErrorMessage name="schedule" as="div" v-slot="{ message }">
                <p class="text-sm fw-bold text-danger">* {{ message }}</p>
              </ErrorMessage>
            </div>

            <div class="col-12 mb-3">
              <label class="float-left form-control-label mb-1" for="status"
                >Estatus:</label
              >
              <Field
                v-slot="{ field }"
                name="status"
                :value="!status"
                type="checkbox"
                v-model="status"
              >
                <div class="d-flex gap-2 form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="status"
                    :value="!status"
                    v-bind="field"
                  />
                  ¿Deseas que se muestre como disponible?
                </div>
              </Field>
              <ErrorMessage name="status" v-slot="{ message }">
                <div class="invalid-feedback text-left pl-1 mt-1">
                  {{ message }}
                </div>
              </ErrorMessage>
            </div>
          </div>
        </div>
      </div>
      <div
        class="card-footer text-center bg-transparent d-flex justify-content-evenly"
      >
        <button
          type="submit"
          class="btn btn-primary"
          v-text="'Guardar'"
        ></button>
        <button
          type="button"
          class="btn btn-danger"
          v-text="'Cancelar'"
          @click="$router.push({name:'schedules'})"
        ></button>
      </div>
    </Form>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { Form, Field, ErrorMessage } from "vee-validate";
import ArgonInput from "@/components/ArgonInput.vue";
export default {
  name: "ScheduleForm",
  components: { Form, Field, ErrorMessage, ArgonInput },
  data() {
    return {
      schedule: "",
      status: false,
      scheduleData: {
        id: null,
      },
    };
  },
  mounted() {
    // console.log(this.movie.created_at);
  },
  methods: {
    ...mapActions("schedules", ["createSchedule", "updateSchedule"]),
    handleSchedule(values) {
      if (this.scheduleData.id) {
        this.updateSchedule(values).then((response) => {
          return response;
        });
      } else {
        const transformData = {
          schedule: values.schedule,
          status: this.status,
        };
        this.createSchedule(transformData).then((response) => {
          this.schedule = "";
          this.status = false;
          this.$router.push({ name: "schedules" });
          return response;
        });
      }
    },
  },
};
</script>

<style></style>
